<section class="section section-footer">
  <div class="container">
    <div class="footer__signature">
      Coded by &#169;
      <a class="link" href="https://github.com/iberezhnyi">iberezhnyi</a>
    </div>
    <ul class="list social-network">
      <li class="social-network__list">
        <a class="social-network__link" href="#" aria-label="Instagram"
          ><svg class="social-network__icon">
            <use href="./images/icons/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-network__list">
        <a class="social-network__link" href="#" aria-label="Facebook"
          ><svg class="social-network__icon">
            <use href="./images/icons/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="social-network__list">
        <a class="social-network__link" href="#" aria-label="LinkedIn"
          ><svg class="social-network__icon">
            <use href="./images/icons/sprite.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
