<section class="section section-gallery">
  <div class="container">
    <ul class="list gallery js-gallery">
      <!-- Image cards -->
    </ul>
    <div class="load-more__wrapper">
      <button
        type="button"
        class="load-more__btn is-hidden js-load-more-btn"
        disabled="false"
      >
        <span
          class="rotate-shadows load-more__rotate-shadows js-spinner is-hidden"
        ></span>
        <span class="load-more__label">Show more</span>
      </button>
    </div>
  </div>
</section>
